@import "@/styles/base-theme";

//==================== base ====================

@mixin component-full-btn-base(
  $thisHeight: 2.4rem,
  $thisWidth: 6rem,
  $thisMinWidth: 6rem,
) {
  height: $thisHeight !important;
  min-height: $thisHeight !important;
  width: $thisWidth !important;
  min-width: $thisMinWidth !important;
  padding: 0 .6rem !important;
  color: var(--full-container-text-color) !important;
  background: var(--full-container-background-color) !important;
  border-radius: 4px !important;
  border: 2px solid var(--full-container-background-color) !important;
}

@mixin component-outline-btn-base(
  $thisHeight: 2.4rem,
  $thisWidth: 6rem,
  $thisMinWidth: 6rem,
  $thisBorder:  2px solid var(--full-container-background-color),
) {
  height: $thisHeight !important;
  min-height: $thisHeight !important;
  width: $thisWidth !important;
  min-width: $thisMinWidth !important;
  padding: 0 .6rem !important;
  border: $thisBorder !important;
  border-radius: 4px !important;
}

@mixin component-none-btn-base($thisWidth: 6rem, $thisHeight: 2.4rem) {
  height: $thisHeight !important;
  min-height: $thisHeight !important;
  padding: 0 .6rem !important;
  border-radius: 4px !important;
}

@mixin component-outline-input-base(
  $thisWidth: 12rem,
  $thisMinWidth: 12rem,
  $thisHeight: 2.4rem,
  $thisBorder: 2px solid var(--full-container-background-color)
) {
  width: $thisWidth !important;
  min-width: $thisMinWidth !important;
  border-radius: 4px !important;

  &.q-field--with-bottom {
    padding-bottom: 0;
  }

  .q-field__native {
    color: var(--text-color) !important;
    height: $thisHeight !important;
  }

  .q-field__control {
    color: $thisBorder !important;
    height: $thisHeight !important;
    border-radius: 4px !important;

    .q-field__control-container {
      padding: 0 3px !important;
    }
  }

  .q-field__control:before {
    border: $thisBorder !important;
  }

  .q-field__prepend {
    font-size: .9rem;
    height: $thisHeight !important;
    color: var(--container-text-color);
  }

  .q-field__append {
    height: $thisHeight !important;
    color: var(--text-color);

    .q-icon {
      font-size: 1rem;
    }
  }

  .q-field__messages {
    color: var(--negative);
  }

  .q-chip {
    color: var(--full-container-text-color);
    background-color: var(--full-container-background-color);
    opacity: .9;

    .q-icon {
      color: var(--full-container-text-color);
      opacity: .9;
    }
  }

  &.q-field--highlighted {
    .q-field__prepend {
      color: var(--container-text-color);
    }

    .q-field__append {
      .q-icon {
        color: var(--container-text-color);
      }
    }
  }

  &.q-field--auto-height {
    .q-field__control {
      min-height: $thisHeight !important;
    }

    .q-field__native {
      min-height: $thisHeight !important;
    }
  }

}

.component-separator-base {
  background-color: var(--text-color) !important;
  opacity: .3;
}

.component-ratio-base {

  .q-radio__inner:not(.q-radio__inner--truthy) {
    color: var(--text-color);
    opacity: .7;
  }

  .q-radio__inner--truthy {
    color: var(--text-color);
  }
}


//==================== mix ====================

.component-full-btn-std {
  @include component-full-btn-base()
}

.component-full-btn-grow {
  @include component-full-btn-base(
          $thisWidth: auto,
  )
}

.component-outline-btn-std {
  @include component-outline-btn-base()
}

.component-outline-btn-grow {
  @include component-outline-btn-base(
          $thisWidth: auto,
  )
}

.component-outline-btn-clear-grow {
  @include component-outline-btn-base(
          $thisWidth: auto,
          $thisBorder: 2px solid var(--full-container-background-color-light),
  )
}

.component-none-btn-grow {
  @include component-none-btn-base(
          $thisWidth: auto,
          $thisHeight: auto,
  )
}

.component-none-btn-std {
  @include component-none-btn-base()
}

.component-outline-btn-mini {
  @include component-outline-btn-base(
          $thisWidth: 2.2rem,
          $thisHeight: 1.8rem,
          $thisMinWidth: 2.2rem,
  )
}

.component-outline-input-std {
  @include component-outline-input-base();
}

.component-outline-input-mini {
  @include component-outline-input-base(
          $thisWidth: 9.5rem,
          $thisMinWidth: 9.5rem,
  );
}

.component-outline-input-large {
  @include component-outline-input-base(
          $thisWidth: 28rem,
          $thisMinWidth: 28rem,
          $thisHeight: 18rem,
  );
}

.component-outline-input-grow {
  @include component-outline-input-base(
          $thisWidth: auto,
          $thisMinWidth: 12rem,
  );
}

.component-none-input-grow {
  @include component-outline-input-base(
          $thisWidth: auto,
          $thisMinWidth: 6rem,
          $thisBorder: none,
  );
}

.component-outline-select-grow {
  @include component-outline-input-base(
          $thisWidth: auto,
          $thisMinWidth: 12rem,
          $thisBorder: 2px dashed var(--full-container-background-color),
  );
}

.component-outline-select-large {
  @include component-outline-input-base(
          $thisWidth: 28rem,
          $thisMinWidth: 28rem,
          $thisHeight: 18rem,
          $thisBorder: 2px dashed var(--full-container-background-color),
  );
}

