@import "@/styles/base";

:root {
  --text-color: #{$cask-light-black};
  --text-color-select: #{$cask-light-black-light};
  --text-color-select-op: #{$cask-light-black-light-op};
  --background-color: #{$cask-light-white};
  --full-container-text-color: #{$cask-dark-white};
  --full-container-background-color-dark: #{$cask-light-black-deep};
  --full-container-background-color: #{$cask-light-black};
  --full-container-background-color-light: #{$cask-dark-white};
  --container-text-color: #{$cask-light-black};
  --container-background-color: #{$cask-light-white-op};

  --dialog-background-color: #{$cask-light-hsla};
  --dialog-background-color-frame: #{$cask-light-hsla-frame};

  --semi-bg-container-background-color: #{$cask-light-black};

  --pointer: #{$cask-pointer};
  --negative: #{$cask-negative};
  --warning: #{$cask-warning};

  --scrollbar-width: 0;
}

[data-theme="dark"] {
  --text-color: #{$cask-dark-white};
  --text-color-select: #{$cask-dark-white-dark};
  --text-color-select-op: #{$cask-dark-white-dark-op};
  --background-color: #{$cask-dark-black};
  --full-container-text-color: #{$cask-dark-white};
  --full-container-background-color-dark: #{$cask-light-black-deep};
  --full-container-background-color: #{$cask-light-black};
  --full-container-background-color-light: #{$cask-light-black-op};
  --container-text-color: #{$cask-dark-white};
  --container-background-color: #{$cask-light-black-op};

  --dialog-background-color: #{$cask-dark-hsla};
  --dialog-background-color-frame: #{$cask-dark-hsla-frame};

  --semi-bg-container-background-color: #{$cask-light-black-deep};

  --pointer: #{$cask-pointer};
  --negative: #{$cask-negative};
  --warning: #{$cask-warning};
}

[data-theme="green"] {
  --text-color: #{$cask-green};
  --text-color-select: #{$cask-green-light};
  --text-color-select-op: #{$cask-green-light-op};
  --background-color: #{$cask-light-white};
  --full-container-text-color: #{$cask-dark-white};
  --full-container-background-color-dark: #{$cask-green-deep};
  --full-container-background-color: #{$cask-green};
  --full-container-background-color-light: #{$cask-green-light-light};
  --container-text-color: #{$cask-green};
  --container-background-color: #{$cask-light-white-op};

  --dialog-background-color: #{$cask-light-hsla};
  --dialog-background-color-frame: #{$cask-light-hsla-frame};

  --semi-bg-container-background-color: #{$cask-green};

  --pointer: #{$cask-pointer};
  --negative: #{$cask-negative};
  --warning: #{$cask-warning};
}

[hide-scrollbar="false"] {
  --scrollbar-width: 16px;
}

html, body, aside {
  font-family: Roboto Slab, sans-serif !important;
  transition: background-color .5s ease;
}

body, aside {
  margin: 0;
  color: var(--text-color);
  background-color: var(--background-color);

  ::selection {
    background-color: var(--text-color-select-op);
  }
}

h1 {
  font-weight: 600 !important;
  font-size: 3rem !important;
  margin: 15px 0 !important;
}

h2 {
  font-weight: 600 !important;
  font-size: 2rem !important;
  margin: 10px 0 !important;
}

h3 {
  font-weight: 600 !important;
  font-size: 1.5rem !important;
  margin: 10px 0 !important;
}

h4 {
  font-weight: 500 !important;
  font-size: 1.3rem !important;
  margin: 5px 0 !important;
}

h5 {
  font-weight: 500 !important;
  font-size: 1.1rem !important;
  margin: 5px 0 !important;
}

h6 {
  font-size: .95rem !important;
  margin: 0 !important;
}

p {
  margin: 0 0 .5rem 0 !important;
}


//change auto-fill account&password style
.q-field__native:-webkit-autofill {
  //background-color: transparent !important; //not work
  box-shadow: 0 0 0 1000px rgb(200, 200, 200) inset;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 1.8rem !important;
  padding: 0 5px;
  border-radius: 4px;
}

::-webkit-scrollbar {
  overflow: visible;
  z-index: 12;
  background: transparent;
  height: 14px;
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
  background-color: var(--full-container-background-color);
  cursor: pointer;
  width: 8px;
  border-radius: 8px;
  z-index: 12;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  transition: background-color .28s ease-in-out;
  margin: 4px;
  min-height: 32px;
  min-width: 32px;
}

//==================== cube ====================

.cask-litter-title-asterisk::before {
  content: '*';
  color: var(--negative);
  margin-right: 4px;
}

.cask-simple-quoted-title {
  padding: .2rem .5rem;
  border-radius: 0 8px 8px 0;
  background-color: var(--full-container-background-color-light);
  color: var(--text-color);
  border-left: 5px solid var(--text-color);
}

.cask-jump-link-in-text {
  color: var(--pointer);
  cursor: pointer;

  &:hover, &:active {
    text-decoration: underline;
  }
}

.cask-jump-link-in-text-origin {
  cursor: pointer;

  &:hover, &:active {
    text-decoration: underline;
  }
}
