@import "@/styles/base";

:root {
  --text-color: #{$cask-light-black};
  --text-color-select: #{$cask-light-black-light};
  --background-color: #{$cask-light-white};
  --full-container-text-color: #{$cask-dark-white};
  --full-container-background-color: #{$cask-dark-black};
  --negative: #{$cask-negative};
  --warning: #{$cask-warning};
}

[data-theme="dark"] {
  --text-color: #{$cask-dark-white};
  --text-color-select: #{$cask-dark-white-dark};
  --background-color: #{$cask-dark-black};
  --full-container-text-color: #{$cask-light-white};
  --full-container-background-color: #{$cask-light-black};
  --negative: #{$cask-negative};
  --warning: #{$cask-warning};
}

[data-theme="green"] {
  --text-color: #{$cask-green};
  --text-color-select: #{$cask-green-light};
  --background-color: #{$cask-light-white};
  --full-container-text-color: #{$cask-dark-white};
  --full-container-background-color: #{$cask-green};
  --negative: #{$cask-negative};
  --warning: #{$cask-warning};
}

html, body, aside {
  margin: 0;
  color: var(--text-color);
  background: var(--background-color);
  font-family: Roboto Slab, sans-serif !important;
  transition: background-color 1s ease;

  ::selection {
    background-color: var(--text-color-select);
  }
}


