//https://colors.artyclick.com/color-name-finder/

//quasar color
$primary: #027BE3;
$secondary: #26A69A;
$accent: #9C27B0;
$dark: #1D1D1D;
$positive: #21BA45;
$negative: #C10015;
$info: #31CCEC;
$warning: #F2C037;

//cask color
$cask-light-white: rgb(239, 239, 239);
$cask-light-white-op: rgba(239, 239, 239, 0.75);
$cask-light-black-deep: rgb(16, 16, 16);
$cask-light-black: rgb(48, 48, 48);
$cask-light-black-op: rgba(48, 48, 48, 0.75);
$cask-light-black-light: rgb(192, 192, 192);
$cask-light-black-light-op: rgba(192, 192, 192, 0.5);
$cask-dark-white: rgb(225, 225, 225);
$cask-dark-black: rgb(18, 18, 18);
$cask-dark-white-dark: rgb(92, 92, 92);
$cask-dark-white-dark-op: rgba(92, 92, 92, 0.5);
$cask-green-deep: rgb(0, 80, 80);
$cask-green: rgb(43, 121, 111);
$cask-green-op: rgb(71, 112, 102, 0.75);
$cask-green-light-light: rgb(193, 216, 215);
$cask-green-light: rgb(138, 181, 176);
$cask-green-light-op: rgba(138, 181, 176, 0.5);
$cask-warning: rgb(207, 160, 48);
$cask-negative: rgb(223, 87, 87);
$cask-pointer: rgb(25, 118, 210);

//cask color 2
$cask-light-hsla: hsla(0, 0%, 94%, 0.8);
$cask-light-hsla-frame: hsla(0, 0%, 100%, 0.95);
$cask-dark-hsla: hsla(0, 0%, 8%, 0.8);
$cask-dark-hsla-frame: hsla(0, 0%, 0%, 0.95);



