@import "@/styles/base-theme";

//==================== base ====================

@mixin component-full-btn-base($thisWidth: 6rem, $thisHeight: 2.2rem) {
  height: $thisHeight !important;
  min-height: $thisHeight !important;
  width: $thisWidth !important;
  padding: 0 !important;
  color: var(--full-container-text-color) !important;
  background: var(--full-container-background-color) !important;
  border-radius: 4px !important;
  border: 2px solid var(--full-container-background-color) !important;
}

@mixin component-outline-btn-base($thisWidth: 6rem, $thisHeight: 2.2rem) {
  height: $thisHeight !important;
  min-height: $thisHeight !important;
  width: $thisWidth !important;
  padding: 0 !important;
  border: 2px solid var(--full-container-background-color) !important;
  border-radius: 4px !important;
}

@mixin component-none-btn-base($thisWidth: 6rem, $thisHeight: 2.2rem) {
  height: $thisHeight !important;
  min-height: $thisHeight !important;
  padding: 0 .6rem !important;
  border-radius: 4px !important;
}

@mixin component-outline-input-base($thisWidth: 12rem, $thisHeight: 2.2rem) {


  width: $thisWidth !important;
  border-radius: 4px !important;

  .q-field__native {
    color: var(--text-color) !important;
    height: $thisHeight !important;
  }

  .q-field__control {
    color: $cask-green !important;
    height: $thisHeight !important;
  }

  .q-field__control:before {
    border: 2px solid var(--full-container-background-color) !important;
  }

  .q-field__prepend {
    height: $thisHeight !important;
    color: var(--full-container-background-color);
  }

  &.q-field--highlighted {
    .q-field__prepend {
      color: $cask-green;
    }
  }

}

.component-separator-base {
  background-color: var(--text-color) !important;
  opacity: .3;
}


//==================== mix ====================

.component-full-btn-std {
  @include component-full-btn-base()
}

.component-outline-btn-std {
  @include component-outline-btn-base()
}

.component-none-btn-std {
  @include component-none-btn-base()
}

.component-outline-btn-mini {
  @include component-outline-btn-base($thisWidth: 2.2rem, $thisHeight: 1.8rem)
}

.component-outline-input-std {
  @include component-outline-input-base();
}

