@import "@/styles/base-theme";


.component-marked-view {

  line-height: 1.6rem;
  font-size: 15.5px;
  font-family: Roboto Slab, sans-serif;

  //这里 h3 和 h4 与外部样式不同
  h3 {
    font-size: 1.4rem !important;
  }

  h4 {
    font-size: 1.25rem !important;
  }

  p {
    color: rgb(var(--text-color), 0.88);
  }

  ul {
    color: rgb(var(--text-color), 0.88);
  }

  ol {
    color: rgb(var(--text-color), 0.88);
  }

  a {
    color: rgb(var(--pointer));
  }

  blockquote {
    background-color: rgba(var(--warning), 0.1);
    margin: 1rem 0 1rem 0 !important;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    border-left: 5px solid rgb(var(--warning));
    border-radius: 2px;
  }

  strong {
    color: rgba(var(--negative), 0.9);
    font-weight: normal;
  }

  code {
    font-size: 15px;
    font-family: Roboto Slab, sans-serif;
    letter-spacing: 0.25px;
    border-radius: 8px;
  }

  code:not(pre code) {
    color: rgb(var(--negative));
    background-color: rgba(var(--negative), 0.05);
    border-radius: 4px;
    padding: 4px;
    margin: 0 4px;
  }


}