@import "@/styles/base-theme";

//==================== cask tabs ====================

.component-cask-tabs {

  .q-tab:not(.q-tab--active) {
    color: var(--text-color);
  }

  .q-tab--active {
    color: var(--full-container-text-color);
  }

  .component-cask-tabs-btn {
    margin: 4px 0;
    border-radius: 4px;
  }

}

.component-cask-tab-mask {
  position: absolute;
  height: calc(100% - 8px);
  background-color: var(--full-container-background-color);
  border-radius: 4px;
  transition: all .5s ease;
  z-index: 0;
}

//==================== cask time ====================

.component-cask-time {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--full-container-text-color);
  background: white;
  outline: 0;
  width: 290px;
  min-width: 290px;
  max-width: 100%;
  display: inline-flex;
  flex-direction: column;

  .component-cask-time-header {
    height: 86px;
    color: var(--full-container-text-color);
    background: var(--full-container-background-color);
    border-radius: 4px 4px 0 0;
    padding: 16px;

    .component-cask-time-header-label {
      font-size: 28px;
      line-height: 1;
      letter-spacing: -0.00833em;
    }
  }

  .component-cask-time-main {
    color: var(--text-color) !important;
    background: var(--container-background-color);

    .component-cask-time-view {
      height: 100%;
      width: 100%;
      min-height: 290px;
      padding: 24px 16px;

      .component-cask-time-selected {
        color: var(--full-container-text-color);
        background: var(--full-container-background-color);
        border-radius: 4px;
        width: 50px;
        box-shadow: inset 0 0 6px 2px var(--full-container-background-color-dark)
      }

      .q-slider {
        .q-slider__track {
          color: var(--text-color) !important;
        }

        .q-slider__selection {
          //background-color: transparent !important;
        }

        .q-slider__thumb {
          color: var(--text-color) !important;
        }
      }
    }

  }
}


//==================== cask cascade selector ====================


.component-cask-cascade-selector {
  border: 2px solid var(--full-container-background-color);
  border-radius: 4px;
  padding: 0 8px;
}


//==================== cask upload input ====================

.component-cask-upload-input {

  .q-field--float .q-field__label {
    transform: translateY(-15%) scale(.9) translateX(-6%);
  }

  .q-field__control {
    padding: 24px 24px;
    color: var(--text-color) !important;

    .q-field__label {
      width: 100%;
      font-size: inherit;
    }

    .q-icon {
      margin-top: 4.5rem;
      font-size: 1rem;
    }
  }

  .q-field__label {
    color: var(--text-color);
  }
}

//==================== cask announcement block ====================

.component-cask-announcement-block {
  width: 100%;
  padding: .2rem 2rem .2rem .5rem;
  border-radius: 4px;

  background-color: var(--full-container-background-color-light);
  color: var(--text-color);

}

//==================== cask badge tips ====================

.component-cask-badge-tips {

  color: var(--text-color) !important;

  .q-icon {
    margin-top: 10%;
    opacity: .75;
  }

}

.component-cask-badge-tips-tooltip {
  border-radius: 1rem !important;
  color: var(--text-color) !important;
  background-color: var(--container-background-color) !important;
  box-shadow: inset 0 0 2px 2px var(--text-color-select) !important;
  backdrop-filter: saturate(200%) blur(30px) !important;

  .q-item--active {
    color: inherit !important;
  }
}
