@import "@/styles/base-theme";

//==================== date ====================

.q-date {
  border-radius: 5px !important;

  .q-date__header {
    color: var(--full-container-text-color);
    background: var(--full-container-background-color);
    border-radius: 4px 4px 0 0 !important;
  }

  .q-date__main {
    color: var(--text-color) !important;
    background: var(--container-background-color);

    .bg-primary {
      background-color: var(--full-container-background-color) !important;
    }
  }
}

.q-notification {

  &.bg-warning {
    color: var(--warning) !important;
    border-radius: 4px !important;
    background-color: var(--tips-bg-dark) !important;
    backdrop-filter: blur(20px) !important;
  }

  &.bg-negative {
    color: var(--negative) !important;
    border-radius: 4px !important;
    background-color: var(--tips-bg-light) !important;
    backdrop-filter: blur(30px) !important;
  }

  &.bg-positive {
    color: var(--positive) !important;
    border-radius: 4px !important;
    background-color: var(--tips-bg-light) !important;
    backdrop-filter: blur(30px) !important;
  }

  &.bg-info {
    color: var(--pointer) !important;
    border-radius: 4px !important;
    background-color: var(--tips-bg-light) !important;
    backdrop-filter: blur(30px) !important;
  }

}
